body{
	background-color: #0B0B3B;
	color: #aaa;
	font-family: 'Major Mono Display', monospace;
	line-height: 1.3;
}
h1 {
	color: white;
}

.button-link {
	color: pink;
	text-decoration: none;
}

.text-orange{
	color: orange;
}